@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
main {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #be3144;
  font-family: Poppins;
  font-size: 22px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media (max-width: 460px) {
  .navbar__links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.navbar__link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 30px;
}

@media (max-width: 460px) {
  .navbar__link {
    padding: 0px 10px;
  }
}

.navbar__link:hover {
  background-color: #465780;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}

.content {
  min-height: 100vh;
}

.greeting {
  font-family: Poppins;
  background-color: black;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greeting__body {
  background-image: -webkit-linear-gradient(28deg, #3a3d40 0%, #181719 100%);
  background-image: -o-linear-gradient(28deg, #3a3d40 0%, #181719 100%);
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.greeting__title {
  font-family: Raleway;
  font-weight: 700;
  color: #fff;
  margin-bottom: 25px;
  font-size: calc(38px + 22 * ((100vw - 320px) / 1580));
}

.greeting__subtitle {
  font-size: 30px;
  color: #bb3043;
  font-weight: 200;
  font-style: italic;
  font-size: calc(23px + 7 * ((100vw - 320px) / 1580));
}

.projects__body {
  padding-bottom: 100px;
  background-color: #45567d;
  padding-top: 60px;
}

.projects__content {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
}

.projects__title-container {
  margin: 0 20px;
}

.projects__title {
  border-bottom: 1px solid #fff;
  font-size: 43px;
  max-width: 15.5em;
  margin: 0 auto 40px auto;
  font-size: calc(32px + 11 * ((100vw - 320px) / 1580));
}

.projects__title-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 0.2em;
}

.projects__row {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  padding: 20px;
}

@media (max-width: 900px) {
  .projects__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
}

@media (max-width: 700px) {
  .projects__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

.projects__btn {
  display: block;
  background-color: #303841;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 10px 15px;
  max-width: 120px;
  margin: 40px auto 0px auto;
  text-align: center;
}

.projects__btn:hover {
  background-color: #be3144;
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
}

.column__item {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

@media (max-width: 700px) {
  .column__item {
    height: 500px;
  }
}

@media (max-width: 550px) {
  .column__item {
    height: 90vw;
  }
}

.column__project-img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.column__project-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.column__label {
  text-align: center;
  background-color: #303841;
  padding: 10px 0;
}

.contacts {
  min-height: 100vh;
  background-color: #303841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts__body {
  font-family: Poppins;
  color: #fff;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacts__title {
  font-size: 60px;
  margin-bottom: 15px;
  font-family: Raleway;
  font-weight: 1000;
  font-size: calc(40px + 20 * ((100vw - 320px) / 1580));
}

@media (max-width: 740px) {
  .contacts__title {
    margin-top: 50px;
  }
}

.contacts__subtitle {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 55px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1580));
}

.contacts__links {
  font-size: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-shadow: 2px 2px 1px #1f1f1f;
}

@media (max-width: 740px) {
  .contacts__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contacts__links a {
  color: #fff;
  text-decoration: none;
}

.contacts__link {
  padding: 0 20px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

@media (max-width: 740px) {
  .contacts__link {
    padding: 20px 0;
  }
}

.contacts__link:hover {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

@media (max-width: 740px) {
  .contacts__link:hover {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.contacts__footer {
  min-height: 110px;
}

.footer {
  border-top: 4px solid #be3144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins;
}

.footer__text {
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .footer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.footer__warning {
  margin-right: 10vw;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .footer__warning {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.footer__credit {
  margin-right: 10px;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .footer__credit {
    margin-bottom: 50px;
  }
}
